<h1> Приветствуем тебя администратор. Ниже статистика за сегодня </h1>
<p> зарегестрировалось: <%= new_users_today %> </p>
<p> посетителей: <%= today_visits %></p>
<p> создано мест: <%= today_places %></p>
<p> написано обзоров: <%= today_reviews %></p>
<p> загружено фото: <%= today_images %></p>
