<h1> Обратная связь </h1>

<div class="admin-feedbacks">
  <% @feedbacks.each do |feedback| %>
    <div class="admin-feedback">
      <div class="admin-feedback-id">
        #<%= feedback.id %> 
      </div>
      <div class="admin-feedback-user">
        <div class="admin-feedback-info-type">
          <%= feedback.feedback_type %>
        </div>
        <% if feedback.user %>
          <div class="admin-user-avatar" style="background-image: url(<%= feedback.user.image_url %>)">
            <a href="#{feedback.user.link}" target="_blank" ></a>
          </div>
          <div class="admin-user-username">
            <a href="<%= feedback.user.link %>" target="_blank" class="user-link"> <%= feedback.user.username %> (<%= feedback.user.provider %>)</a>
          </div>
          <div class="admin-feedback-time">
            <%= feedback.created_at.strftime('%d-%m-%Y') %>
          </div>
        <% else %>
          anonym
        <% end %>
      </div
      ><div class="admin-feedback-info">
        <div class="admin-feedback-info-body">
          <%= feedback.body %>
        </div>
        <div class="admin-feedback-info-images">
          <% if feedback.images.any? %>
            <% feedback.images.each do |image| %>
              <img src="<%= image.file.url %>" class="admin-feedback-info-images-one"> 
            <% end %>
          <% end %> 
        </div>
      </div>
    </div>
  <% end %>
</div>
