<div class="cont">
	<div class="cont-head">
		<div class="cont-head-logo">
			<a ng-href="#/home">DONER.IO</a>
		</div>
	</div>
	<div class="lo">
		<div class="lo-l">
			<div class="lo-l-map"  ya-center="{{mapCenter}}" ng-controller="MapCtrl">
				<ya-map ya-zoom="12" ya-behaviors="default scrollZoom multiTouch" ya-controls="zoomControl" ya-event-click="mapClick($event)">
					<ya-cluster ya-options="{preset:'islands#invertedRedClusterIcons'}">
						<ya-geo-object href="#/places/{{place.id}}" ng-repeat="place in places" ya-source="place" ya-event-click="choosePlace(place)" ya-options="{preset: 'islands#redIcon'}" ></ya-geo-object>
					</ya-cluster>
				</ya-map>
			</div>
		</div>
		<ui-view></ui-view>
	</div>
</div>
<script type="text/ng-template" id="/index.html">
	<div class="lo-r">
		<div class="lo-r-places">
			<div ng-repeat="place in places | orderBy:'-properties.rating' | limitTo:5">
				<div class="lo-r-places-place" ng-click="choosePlace(place)">
					<div class="lo-r-places-place-title">
						{{place.properties.street}}
					</div>
					{{place.properties.rating}}
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="/place.html">
	<div class="lo-r">
		<div class="lo-r-card">
			<div class="lo-r-card-close" ng-click="closePlace()">✕</div>
			<div class="lo-r-card-create" ng-click="writeReview(place)">
				Оставить отзыв
			</div>
			<div class="lo-r-card-title">
				<span>{{place.properties.street}}</span>
			</div>
			
			<div class="lo-r-card-metro lo-r-card-metro-tk">
				<div class="lo-r-catd-metro-logo">
					<svg width="13px" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<title>Slice 1</title>
						<description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
						<defs></defs>
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<g id="metro-logo" sketch:type="MSLayerGroup" fill="#D9242A">
								<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
							</g>
						</g>
					</svg>
				</div>
				<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
			</div>
			<div class="lo-r-card-rating">
				<span class="lo-r-card-rating-1">{{place.properties.rating}}</span>
			</div>
		</div>
		<div class="lo-r-border"></div>
		<div ng-repeat="review in reviews | orderBy:'-date'" class="lo-r-cont">
			<div class="lo-r-cont-review" ng-class="review == current_review ? 'ext' : ''" >
<!--							<div class="lo-r-cont-review" ng-class="getExtClass(review)" ng-click="openReview(review)" >-->
				<div class="lo-r-cont-review-title" ng-click="makeReviewCurrent(review)">
					рейтинг - {{review.rating}}; {{review.min_price}}-{{review.max_price}} rub
				</div>
<!--							<div class="lo-r-cont-review-close" ng-click="closeCurrentReview(review)">•••</div>-->
				<div class="lo-r-cont-review-rating">{{review.rating}}</div>
				<div class="lo-r-cont-review-body">
					<div ng-show="current_review !== review ">
						{{ review.body | limitTo: 140 }}{{review.body.length > 100 ? '...' : ''}}
<!--									<span class="lo-r-cont-review-body-open">Читать</span>-->
					</div>
					<div ng-show="current_review == review ">
						{{ review.body}}
						<span style="color: blue;cursor: pointer;" ng-click="closeReview()"> закрыть </span>
					</div>

					<div ng-repeat="image in review.images">
						<img src="{{image}}" style="width: 200px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
	<script type="text/ng-template" id="/new_review.html">
	<div class="lo-r">
		<div class="lo-r-card">
			<div class="lo-r-card-close" ng-click="closePlace()">✕</div>
			<div class="lo-r-card-title" >
				<span><a ng-href="#/places/{{place.properties.id}}">{{place.properties.street }}</a></span>
			</div>
			<div class="lo-r-card-metro lo-r-card-metro-tk">
				<div class="lo-r-catd-metro-logo">
					<svg width="13px" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<title>Slice 1</title>
						<description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
						<defs></defs>
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<g id="metro-logo" sketch:type="MSLayerGroup" fill="#D9242A">
								<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
							</g>
						</g>
					</svg>
				</div>
				<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
			</div>
			<div class="lo-r-card-rating">
				<span class="lo-r-card-rating-1">{{place.properties.rating}}</span>
			</div>
		</div>
		<div class="lo-r-border"></div>
		<div class="lo-r-cont" ng-init="dropzone()">
			<%= form_for Review.new do |f| %>
				<%= f.text_area :body, placeholder: 'отзыв',"ng-model" => "new_review.body" %>
				<p>мясо<%= f.number_field :meat, min: 1,max: 10,"ng-model" => "new_review.meat" %></p>
				<p>овощи<%= f.number_field :vegetables, min: 1,max: 10,"ng-model" => "new_review.vegetables" %></p>
				<p>обслуживание<%= f.number_field :service, min: 1,max: 10,"ng-model" => "new_review.service" %></p>
				<p>санитария<%= f.number_field :sanitation, min: 1,max: 10,"ng-model" => "new_review.sanitation" %></p>
				<p><%= f.text_field :images_id, "ng-model" => "new_review.images_id",type: 'hidden' %></p>
				<p><%= f.text_field :place_id, "ng-model" => "place.properties.id",type: 'hidden' %></p>
				<p>минимальная цена<%= f.text_field :min_price,"ng-model" => "new_review.min_price" %></p>
				<p>максимальная цена<%= f.text_field :max_price,"ng-model" => "new_review.max_price" %></p>
			<% end %>
			<button ng-click="submitReview()">Отправить</button>
			<%= form_tag Image.new, class: "dropzone", id: "media-dropzone" do %>
			  <div class="fallback">
			    <%= file_field_tag :image, multiple: true %>
			  </div>
			<% end %>
		</div>
	</div>
</script>
<script type="text/ng-template" id="/create_place.html">
	<div class="lo-r">
		<h2>Выбери место</h2>
		<div>{{metro}}</div>
		<div>{{adress}}</div>
		<div>{{coords}}</div>
	</div>
</script>