<div class="cont">
	<div class="cont-head">
		<div class="cont-head-logo">
			<a ng-href="#/home">DONER.io</a>
		</div>
		<a class="cont-head-toplist" ng-class="place ? '' : 'active'" ng-href="#/home">
			&#9733;
		</a>
	</div>
	
	<div class="lo">
		<div class="lo-l">
			<div class="lo-l-map"  ya-center="{{mapCenter}}" ng-controller="MapCtrl">
				<ya-map ya-zoom="12" ya-behaviors="default scrollZoom multiTouch" ya-controls="zoomControl" ya-event-click="mapClick($event)">
					<ya-cluster ya-options="{preset:'islands#invertedRedClusterIcons'}">
						<ya-geo-object href="#/places/{{place.id}}" ng-repeat="place in places" ya-source="place" ya-event-click="choosePlace(place)" ya-options="{preset: 'islands#redIcon'}" ></ya-geo-object>
					</ya-cluster>
				</ya-map>
			</div>
			<a href="#/create_place" class="lo-l-addplace">Добавить место</a>
		</div>

		<ui-view></ui-view>
	</div>
</div>
<div class="what">
	<span>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
	<path id="info-2-icon" d="M255.998,90.001c91.74,0,166.002,74.241,166.002,165.998c0,91.741-74.245,166-166.002,166
		c-91.74,0-165.998-74.243-165.998-166C90,164.259,164.243,90.001,255.998,90.001 M255.998,50.001
		C142.229,50.001,50,142.229,50,255.999c0,113.771,92.229,206,205.998,206c113.771,0,206.002-92.229,206.002-206
		C462,142.229,369.77,50.001,255.998,50.001L255.998,50.001z M285.822,367.567h-57.646V230.6h57.646V367.567z M257,202.268
		c-17.522,0-31.729-14.206-31.729-31.73c0-17.522,14.206-31.729,31.729-31.729c17.524,0,31.728,14.206,31.728,31.729
		C288.728,188.062,274.524,202.268,257,202.268z"/>
	</svg>
	</span>
	<span class="what-tip">ЧТО ЭТО?</span>
</div>

<script type="text/ng-template" id="/index.html">
	<div class="lo-r">
		<div class="lo-r-places">
			<div ng-repeat="place in places | isRated | orderBy:'-properties.rating' | limitTo:12">
				<!--<div class="lo-r-places-place" ng-click="choosePlace(place)">
					<div class="lo-r-places-place-title">
						{{place.properties.street}}
					</div>
					{{place.properties.rating}} -->
				
			<div class="lo-r-card lo-r-card-places" ng-click="choosePlace(place)">
				<div ng-hide="true" class="lo-r-card-create" ng-click="writeReview(place)">
					<span class="lo-r-card-create-icon">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="16px" height="16px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
						<path id="create-review-icon" d="M172.782,438.836L172.782,438.836L50.417,461.42l24.686-120.264l0.001-0.001L172.782,438.836z M364.735,51.523l-43.829,43.829l97.682,97.68l43.829-43.829L364.735,51.523z M96.996,319.263l97.681,97.679l202.017-202.015 l-97.68-97.682L96.996,319.263z"/>
						</svg>
					</span>Написать
				</div>
				<div ng-hide="true" class="lo-r-card-share">
					<svg width="16px" height="16px" viewBox="0 0 370 412" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<path d="M285.814,121.815 C270.793,121.815 256.693,125.753 244.485,132.649 C236.419,137.206 226.487,136.924 218.686,131.928 L131.375,76.019 C124.626,71.697 120.362,64.399 119.896,56.398 C118.084,25.265 92.213,0 60,0 C26.863,0 0,26.863 0,60 C0,102.486 42.832,131.156 81.814,115.898 C89.273,112.979 97.68,113.815 104.426,118.134 L179.594,166.268 C193.238,175.005 201.568,190.127 201.63,206.328 L201.63,206.34 C201.692,222.05 193.697,236.699 180.467,245.171 L104.425,293.864 C97.69,298.177 89.262,299.015 81.814,296.1 C42.785,280.828 0,309.574 0,352 C0,385.137 26.863,412 60,412 C92.186,412 118.085,386.759 119.897,355.603 C120.361,347.615 124.637,340.296 131.376,335.981 L218.686,280.072 C226.479,275.082 236.427,274.8 244.485,279.351 C256.693,286.247 270.793,290.186 285.814,290.186 C332.309,290.186 370,252.493 370,206 C370,159.506 332.309,121.815 285.814,121.815 L285.814,121.815 L285.814,121.815 L285.814,121.815 Z M285.814,121.815" id="share-icon" fill="#000000" sketch:type="MSShapeGroup" transform="translate(185.000000, 206.000000) scale(-1, 1) translate(-185.000000, -206.000000) "></path>
						</g>
					</svg>
				</div>
				<div class="lo-r-card-revnum lo-r-card-revnum-places">
					<span class="lo-r-card-revnum-icon">
						<svg width="14px" height="14px" viewBox="0 0 412 382" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<path d="M412,0 L0,0 L0,293.682 L64.501,293.682 L64.501,382.018 L196.479,293.682 L412,293.682 L412,0 Z M412,0" id="speech-bubble-9-icon" fill="#000000" sketch:type="MSShapeGroup" transform="translate(206.000000, 191.009000) scale(-1, 1) translate(-206.000000, -191.009000) "></path>
							</g>
						</svg>
					</span>
					<span class="lo-r-card-revnum-num">{{place.properties.reviews_count}}</span>
				</div>
				<div class="lo-r-card-title">
					<span>{{place.properties.street}}</span>
				</div>

				<div class="lo-r-card-metro" ng-class="getMetroColor(place)">
					<div class="lo-r-card-metro-logo">
						<svg width="13px" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<g id="metro-logo" sketch:type="MSLayerGroup" fill="#011e66">
									<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
								</g>
							</g>
						</svg>
					</div>
					<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
				</div>
				
				<div class="lo-r-card-rating">
					<span class="lo-r-card-rating-1">{{place.properties.rating}}</span>
				</div>
			</div>
			</div>
			</div>
	</div>
</script>
<script type="text/ng-template" id="/place.html">
	<div class="lo-r">
		<div class="lo-r-card-wrapper">
			<div class="lo-r-card">
				<!-- <div class="lo-r-card-close" ng-click="closePlace()">✕</div> -->
				<div class="lo-r-card-create" ng-click="writeReview(place)">
					<span class="lo-r-card-create-icon">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="16px" height="16px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
						<path id="create-review-icon" d="M172.782,438.836L172.782,438.836L50.417,461.42l24.686-120.264l0.001-0.001L172.782,438.836z M364.735,51.523l-43.829,43.829l97.682,97.68l43.829-43.829L364.735,51.523z M96.996,319.263l97.681,97.679l202.017-202.015 l-97.68-97.682L96.996,319.263z"/>
						</svg>
					</span>Написать
				</div>
				<div class="lo-r-card-share">
					<svg width="16px" height="16px" viewBox="0 0 370 412" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<path d="M285.814,121.815 C270.793,121.815 256.693,125.753 244.485,132.649 C236.419,137.206 226.487,136.924 218.686,131.928 L131.375,76.019 C124.626,71.697 120.362,64.399 119.896,56.398 C118.084,25.265 92.213,0 60,0 C26.863,0 0,26.863 0,60 C0,102.486 42.832,131.156 81.814,115.898 C89.273,112.979 97.68,113.815 104.426,118.134 L179.594,166.268 C193.238,175.005 201.568,190.127 201.63,206.328 L201.63,206.34 C201.692,222.05 193.697,236.699 180.467,245.171 L104.425,293.864 C97.69,298.177 89.262,299.015 81.814,296.1 C42.785,280.828 0,309.574 0,352 C0,385.137 26.863,412 60,412 C92.186,412 118.085,386.759 119.897,355.603 C120.361,347.615 124.637,340.296 131.376,335.981 L218.686,280.072 C226.479,275.082 236.427,274.8 244.485,279.351 C256.693,286.247 270.793,290.186 285.814,290.186 C332.309,290.186 370,252.493 370,206 C370,159.506 332.309,121.815 285.814,121.815 L285.814,121.815 L285.814,121.815 L285.814,121.815 Z M285.814,121.815" id="share-icon" fill="#000000" sketch:type="MSShapeGroup" transform="translate(185.000000, 206.000000) scale(-1, 1) translate(-185.000000, -206.000000) "></path>
						</g>
					</svg>
				</div>
				<div class="lo-r-card-revnum">
					<span class="lo-r-card-revnum-icon">
						<svg width="14px" height="14px" viewBox="0 0 412 382" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<path d="M412,0 L0,0 L0,293.682 L64.501,293.682 L64.501,382.018 L196.479,293.682 L412,293.682 L412,0 Z M412,0" id="speech-bubble-9-icon" fill="#000000" sketch:type="MSShapeGroup" transform="translate(206.000000, 191.009000) scale(-1, 1) translate(-206.000000, -191.009000) "></path>
							</g>
						</svg>
					</span>
					<span class="lo-r-card-revnum-num">{{place.properties.reviews_count}}</span>
				</div>
				<div class="lo-r-card-title">
					<span>{{place.properties.street}}</span>
				</div>

				<div class="lo-r-card-metro">
					<div class="lo-r-card-metro-logo">
						<svg width="13px" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<g id="metro-logo" sketch:type="MSLayerGroup" fill="#011e66">
									<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
								</g>
							</g>
						</svg>
					</div>

					<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
				</div>
				<div class="lo-r-card-rating">
					<span class="lo-r-card-rating-1">{{place.properties.rating}}</span>
				</div>
			</div>
		</div>
		<div class="lo-r-border"></div>
		<div ng-repeat="review in reviews | orderBy:'-date'" class="lo-r-cont">
			<!--<div class="lo-r-cont-review" ng-class="review == current_review ? 'ext' : ''" ng-click="makeReviewCurrent(review)">-->
			<div class="lo-r-cont-review" ng-class="openReview(review)" ng-click="makeReviewCurrent(review)">
				<div class="lo-r-cont-review-title">
					<!--рейтинг - {{review.rating}}; {{review.min_price}}-{{review.max_price}} rub-->
					А что это мы тут будем писать? А?
				</div>
				<div class="lo-r-cont-review-rating">{{review.rating}}</div>
				<div class="lo-r-cont-review-body">
					<div ng-show="!isReviewCurrent(review)">
						{{ review.body | limitTo: 140 }}{{review.body.length > 100 ? '...' : ''}}
<!--									<span class="lo-r-cont-review-body-open">Читать</span>-->
					</div>
					<div ng-show="isReviewCurrent(review)">
						{{ review.body}}
						<!-- <span style="color: blue;cursor: pointer;" ng-click="closeReview()"> закрыть </span> -->
					</div>

					<div ng-repeat="image in review.images">
						<img src="{{image}}">
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
	<script type="text/ng-template" id="/new_review.html">
	<div class="lo-r">
		<div class="lo-r-card">
			<div class="lo-r-card-close" ng-click="closePlace()">✕</div>
			<div class="lo-r-card-title" >
				<span><a ng-href="#/places/{{place.properties.id}}">{{place.properties.street }}</a></span>
			</div>
			<div class="lo-r-card-metro lo-r-card-metro-tk">
				<div class="lo-r-catd-metro-logo">
					<svg width="13px" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<title>Slice 1</title>
						<description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
						<defs></defs>
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<g id="metro-logo" sketch:type="MSLayerGroup" fill="#D9242A">
								<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
							</g>
						</g>
					</svg>
				</div>
				<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
			</div>
			<div class="lo-r-card-rating">
				<span class="lo-r-card-rating-1">{{place.properties.rating}}</span>
			</div>
		</div>
		<div class="lo-r-border"></div>
		<div class="lo-r-cont" ng-init="dropzone()">
			<%= form_for Review.new do |f| %>
				<%= f.text_area :body, placeholder: 'отзыв',"ng-model" => "new_review.body" %>
				<p>мясо<%= f.number_field :meat, min: 1,max: 10,"ng-model" => "new_review.meat" %></p>
				<p>овощи<%= f.number_field :vegetables, min: 1,max: 10,"ng-model" => "new_review.vegetables" %></p>
				<p>обслуживание<%= f.number_field :service, min: 1,max: 10,"ng-model" => "new_review.service" %></p>
				<p>санитария<%= f.number_field :sanitation, min: 1,max: 10,"ng-model" => "new_review.sanitation" %></p>
				<p><%= f.text_field :images_id, "ng-model" => "new_review.images_id",type: 'hidden' %></p>
				<p><%= f.text_field :place_id, "ng-model" => "place.properties.id",type: 'hidden' %></p>
				<p>минимальная цена<%= f.text_field :min_price,"ng-model" => "new_review.min_price" %></p>
				<p>максимальная цена<%= f.text_field :max_price,"ng-model" => "new_review.max_price" %></p>
			<% end %>
			<button ng-click="submitReview()">Отправить</button>
			<%= form_tag Image.new, class: "dropzone", id: "media-dropzone" do %>
			  <div class="fallback">
			    <%= file_field_tag :image, multiple: true %>
			  </div>
			<% end %>
		</div>
	</div>
</script>
<script type="text/ng-template" id="/create_place.html">
	<div class="lo-r" ng-init="dropPlace()">
		<h2>Выбери место</h2>
		<div>{{new_place.metro}}</div>
		<div>{{new_place.street}}</div>
		<div>{{new_place.city}}</div> 
		<button ng-show="new_place.street" ng-click="createPlace()">Создать</button>
	</div>
</script>