
<div ng-controller="NewPlaceCtrl">
    <!-- <div "popup" ng-show="current_place">
        <h1> {{current_place }}</h1>
        <span ng-click="closePlacePopup()"> close </span>
    </div> -->
    <div class="new-place-map">
        <div class="yd-map">	
    			<ya-map ya-zoom="15" ya-behaviors="default scrollZoom multiTouch" ya-controls="zoomControl" ya-event-click="mapClick($event)">
        		    
    			</ya-map>
        </div>
    </div>
</div>
<div class="new-place-form">
    <%= form_for @place do |f| %>
    	<%= f.text_field :street, placeholder: 'улица', :id => 'place_street', :'ng-value' => "adress" %>
    	<%= f.text_field :metro, placeholder: 'метро', :id => 'place_metro', :'ng-value' => "metro" %>
    	<%= f.text_field :coordinates, placeholder: 'координаты', :id => 'place_coordinates', :'ng-value' => "coordinates" %>
    	<%= f.submit 'OK'%>
    <% end %>

    <h1> {{adress}}</h1>
    <h1>{{metro}}</h1>
</div>