<!DOCTYPE html>
<html>
<head>
  <title>Topdoner</title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="admin">
		<div class="admin-menu">
			<div class="admin-menu-item-main">
				<%= link_to 'Topdoner', root_path %>
			</div>
			<div class="admin-menu-item">
				<%= link_to 'Администрирование', '/admin/index' %>
			</div>
			<div class="admin-menu-item">
				<%= link_to 'Ларьки и отзывы', '/admin/places' %>
			</div>
			<div class="admin-menu-item">
				<%= link_to 'Посещаемость', '/admin/stat' %>
			</div>
<!-- 			<div class="admin-menu-item">
			</div>	 -->		
		</div>

		<%= yield %>
	</div>
</body>
</html>
