<!DOCTYPE html>
<html>
<head>
  <title>Topdoner</title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="admin-menu">
		<div class="admin-menu-item main-link">
			<a href="/" class="image-link"></a> 
		</div>
		<div class="admin-menu-item">
			<%= link_to 'главная', '/admin/index', class: 'image-link menu-link' %>
		</div
		><div class="admin-menu-item">
			<%= link_to 'юзеры', '/admin/users', class: 'image-link menu-link' %>
		</div
		><div class="admin-menu-item">
			<%= link_to 'статистика', '/admin/stat', class: 'image-link menu-link' %>
		</div>		
	</div>
	<div class="admin">
		<%= yield %>
	</div>
</body>
</html>
