<!DOCTYPE html>
<html>
<head>
  <title>Topdoner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Topdoner" ng-controller="MainCtrl">
	<div class="cont" ng-controller="UsersCtrl">
		<div class="lo">
			<div class="lo-l">
				<div class="lo-l-head">
					<div class="lo-l-head-logo">
						<a ng-href="#/home"></a>
					</div>
					<div class="lo-l-head-nav">
						<div class="lo-l-head-nav-item" ng-hide="current_user" ng-click="openPopup('.popup-about')">
							Что это?
						</div>
						<div class="lo-l-head-nav-item" ng-hide="current_user" ng-click="openPopup('.popup-login')">
							Войти
						</div>
						<div class="lo-l-head-nav-user" ng-show="current_user">
							<div class="lo-l-head-nav-user-img" style="background-image: url({{current_user.image_url}})"></div>
							<div class="lo-l-head-nav-user-logout" ng-click="logOut()">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="100%" height="100%" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
									<path id="power-off-icon" d="M291,50h-70v184.001h70V50z M366.227,112.407c22.621,15.837,41.927,36.611,56.2,61.334
									c34.329,59.458,34.329,132.714,0,192.173C388.098,425.372,324.656,462,256,462c-68.657,0-132.099-36.628-166.427-96.086
									c-34.329-59.459-34.329-132.715,0-192.173c14.272-24.723,33.579-45.497,56.2-61.334l23.444,33.483
									c-17.81,12.468-33.009,28.824-44.247,48.287c-27.026,46.812-27.026,104.487,0,151.299c27.027,46.812,76.976,75.649,131.029,75.649
									s104.001-28.838,131.028-75.649c27.026-46.812,27.026-104.486,0-151.299c-11.237-19.463-26.438-35.819-44.247-48.287
									L366.227,112.407z"/>
								</svg>
							</div>
							<a href="{{current_user.link}}" class="lo-l-head-nav-user-name">
								{{ current_user.username }}
							</a>
						</div>
					</div>
<!--
					<div class="lo-l-head-user"></div>
					<div class="lo-l-head-logout"></div>
-->
				</div>
				<div class="lo-l-map"  ya-center="{{mapCenter}}" ng-controller="MapCtrl">
					<ya-map ya-zoom="12" ya-behaviors="default scrollZoom multiTouch" ya-controls="zoomControl" ya-event-click="mapClick($event)">
						<ya-cluster ya-options="{preset:'islands#invertedRedClusterIcons'}">
							<ya-geo-object href="#/places/{{place.id}}" ng-repeat="place in places" ya-source="place" ya-event-click="choosePlace(place)" ya-options="{preset: 'islands#redIcon'}" ></ya-geo-object>
						</ya-cluster>
					</ya-map>
				</div>
				<a href="#/create_place" class="lo-l-addplace" ng-click="addPlaceAction()">Добавить место</a>
			</div>
			<ui-view></ui-view>
		</div>
	</div>
	
<!--
	<div class="what" ng-click="openPopup('.popup-about')">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
				<path id="help-icon" d="M259.462,462c-24.864,0-45.03-20.166-45.03-45.039c0-24.86,20.166-45.02,45.03-45.02
					c24.87,0,45.029,20.159,45.029,45.02C304.491,441.834,284.332,462,259.462,462z M294.865,328.9v8.1c0,0-67.513,0-74.229,0v-8.1 c0-22.922,3.344-52.326,29.956-77.89c26.613-25.567,59.87-46.687,59.87-78.625c0-35.309-24.503-53.985-55.399-53.985 c-51.483,0-54.846,53.393-56.115,65.149H126.75C128.673,127.874,152.206,50,255.494,50c89.513,0,129.756,59.949,129.756,116.166 C385.25,255.646,294.865,271.189,294.865,328.9z"/>
				</svg>
	</div>
-->
	<div class="what" ng-show="current_user" ng-click="openPopup('.popup-about')">?</div>


	<%= yield %>
	<div class="prnj hidden" ng-click="closePopup()"></div>
	<div class="popup popup-about hidden">
		<div class="popup-close" ng-click="closePopup()">✕</div>
		<h2>Что такое DONER.IO?</h2>
		Это тип такой сайтик с картой где шаурма.
		Итак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
	</div>

	<div class="popup popup-login hidden">
		<div class="popup-close" ng-click="closePopup()">✕</div>
		Для доступа к публикациям необходимо авторизоваться.
		<div class="popup-login-button vk">
			<div class="popup-login-button-icon">
				<svg width="100%" height="100%" viewBox="0 0 412 236" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
						<path d="M225.94423,235.528275 C236.39223,235.528275 240.68123,228.551275 240.54323,219.821275 C240.01023,186.909275 252.80323,169.202275 275.88823,192.290275 C301.44323,217.843275 306.72623,235.528275 337.73923,235.528275 L392.67623,235.528275 C435.89423,235.528275 397.38123,192.157275 366.93423,163.899275 C337.98623,137.029275 336.62723,136.395275 361.55523,104.052275 C392.50623,63.9122751 432.94823,12.1942751 397.16323,12.1942751 L328.81623,12.1942751 C315.55523,12.1942751 314.59923,19.9422751 309.88823,31.0642751 C292.81823,71.3432751 260.35023,123.535275 248.01523,115.565275 C235.11523,107.228275 241.02223,78.9532751 242.01123,29.9482751 C242.27223,17.0062751 242.20623,8.11527508 222.42523,3.52427508 C168.41623,-9.01072492 121.61523,15.6462751 140.73323,19.2062751 C167.69623,24.2342751 165.11023,77.9012751 158.82123,103.096275 C147.87023,146.966275 106.70723,68.3442751 89.5472301,29.2002751 C85.4192301,19.7812751 84.1572301,12.1942751 69.3822301,12.1942751 L13.5012301,12.1942751 C2.72823014,12.1942751 -2.55376986,17.1282751 1.20723014,27.1332751 C4.96823014,37.1382751 48.2062301,133.860275 99.3262301,189.042275 C146.63923,240.114275 193.40423,235.528275 225.94423,235.528275 C225.94423,235.528275 193.40423,235.528275 225.94423,235.528275 L225.94423,235.528275 L225.94423,235.528275 Z M225.94423,235.528275" id="vk-icon" fill="#fff" sketch:type="MSShapeGroup"></path>
					</g>
				</svg>
			</div>
			<div class="popup-login-button-title">Авторизоваться</div>
			<a href="users/auth/facebook"></a>
		</div>
		
		<div class="popup-login-button fb">
			<div class="popup-login-button-icon">
				<svg width="100%" height="100%" viewBox="0 0 191 412" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
						<path d="M43.144,134.692 L0,134.692 L0,205.118 L43.144,205.118 L43.144,412 L126.109,412 L126.109,204.238 L183.991,204.238 L190.153,134.692 L126.109,134.692 L126.109,95.077 C126.109,78.679 129.411,72.187 145.256,72.187 L190.152,72.187 L190.152,0 L132.711,0 C70.977,0 43.144,27.179 43.144,79.231 L43.144,134.692 L43.144,134.692 L43.144,134.692 L43.144,134.692 Z M43.144,134.692" id="facebook-icon" fill="#fff" sketch:type="MSShapeGroup"></path>
					</g>
				</svg>
			</div>
			<div class="popup-login-button-title">Авторизоваться</div>
			<a href="users/auth/facebook"></a>
		</div>
<!--		<a class="popup-login-button vk" href="users/auth/facebook">piska</a>-->
<!--		<a class="popup-login-button fb" href="users/auth/facebook">siska</a>-->
<!--
		
		 <% if devise_mapping.omniauthable? %>
		   	<% resource_class.omniauth_providers.each do |provider| %>
				<div class="popup-login-button">
		     	<%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
				</div>
		   	<% end %>
		 <% end %>
-->
	</div>
</body>
</html>
