<!DOCTYPE html>
<html ng-app="Topdoner">
<head>
	<title ng-bind="MetaTags.title">Topdoner</title>
	<meta name="description" content="Обзоры на самую изысканую и наивкуснейшую шаурму по всему миру. Авторитетные мнения, подробные ревью и глубокая аналитика.">
	<meta name="description" content="{{MetaTags.description}}">
	<meta name="keywords" content="{{MetaTags.keywords}}">
	<meta ng-repeat="(key, value) in MetaTags.properties" property="{{key}}" content="{{value}}" >
	<meta name="prerender-status-code" content="{{MetaTags.prerender.statusCode}}">
	<meta name="prerender-header" ng-if="MetaTags.prerender.header" content="{{MetaTags.prerender.header}}">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


	
	<%= favicon_link_tag 'favicon/favicon-32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
	<%= favicon_link_tag 'favicon/favicon-16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
	<%= favicon_link_tag 'favicon/favicon-16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
	<%= favicon_link_tag 'favicon/favicon-76.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76' %>
	<%= favicon_link_tag 'favicon/favicon-120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120' %>
	<%= favicon_link_tag 'favicon/favicon-152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152' %>
	<%= favicon_link_tag 'favicon/favicon-180.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
	<%= favicon_link_tag 'favicon/favicon-152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152' %>
	<%= favicon_link_tag 'doner-4.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
	<%= favicon_link_tag 'doner-4.png', rel: 'icon', type: 'image/png', sizes: '152x152' %>
	<%= favicon_link_tag 'favicon/favicon-max.png', rel: 'apple-touch-icon' %>
</head>
<!--
    /$$$$$$$$ /$$$$$$  /$$$$$$$        /$$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$
   |__  $$__//$$__  $$| $$__  $$      | $$__  $$ /$$__  $$| $$$ | $$| $$_____/| $$__  $$
      | $$  | $$  \ $$| $$  \ $$      | $$  \ $$| $$  \ $$| $$$$| $$| $$      | $$  \ $$
      | $$  | $$  | $$| $$$$$$$/      | $$  | $$| $$  | $$| $$ $$ $$| $$$$$   | $$$$$$$/
      | $$  | $$  | $$| $$____/       | $$  | $$| $$  | $$| $$  $$$$| $$__/   | $$__  $$
      | $$  | $$  | $$| $$            | $$  | $$| $$  | $$| $$\  $$$| $$      | $$  \ $$
      | $$  |  $$$$$$/| $$            | $$$$$$$/|  $$$$$$/| $$ \  $$| $$$$$$$$| $$  | $$
      |__/   \______/ |__/            |_______/  \______/ |__/  \__/|________/|__/  |__/
   
   ¯\_(ツ)_/¯   ¯\_(ツ)_/¯   ¯\_(ツ)_/¯   ¯\_(ツ)_/¯   ¯\_(ツ)_/¯   ¯\_(ツ)_/¯   ¯\_(ツ)_/¯
-->

<body  ng-controller="MainCtrl">
	<script type="text/javascript">
		var BASE_URL = "<%= request.base_url %>";
	</script>
	<%= render 'layouts/popup' %>

	<div class="cont" ng-controller="UsersCtrl">
		<div class="lo" ng-controller="PresenterCtrl">
			<div class="lo-interface" ng-controller="InterfaceCtrl">
				<div class="lo-l">
					<div class="lo-l-head">
						<div class="lo-l-head-logo">
							<a ng-href="#/home" ng-click="setDefaultZoom()"></a>
						</div>
						<div class="lo-l-head-nav">

							<div class="lo-l-head-nav-item act">
								<a href="#/create_place">Новое место</a>
							</div>

	<!--
							<div class="lo-l-head-nav-item act" ng-click="openPopup('.popup-about')">
								Что это?
							</div>
	-->
							<div class="lo-l-head-nav-item act" ng-hide="current_user" ng-click="openPopup('.popup-login')">
								Войти
							</div>
							<div class="lo-l-head-nav-user" ng-show="current_user">
								<div class="lo-l-head-nav-user-img" style="background-image: url({{current_user.image_url}})"></div>
								<a href="{{current_user.link}}" target="_blank" class="lo-l-head-nav-user-name">
									{{ current_user.username }}
								</a>
								<div class="lo-l-head-nav-user-logout" ng-click="logOut()">Выйти</div>
							</div>
						</div>
						<div class="lo-l-head-menu" ng-click="openSlideNav()">
							<svg width="100%" viewBox="0 0 412 316" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
									<path d="M412,65.5 L0,65.5 L0,0.5 L412,0.5 L412,65.5 L412,65.5 L412,65.5 L412,65.5 Z M412,125.5 L0,125.5 L0,190.5 L412,190.5 L412,125.5 L412,125.5 L412,125.5 L412,125.5 Z M412,250.5 L0,250.5 L0,315.5 L412,315.5 L412,250.5 L412,250.5 L412,250.5 L412,250.5 Z M412,250.5" id="menu-icon" fill="#000000" sketch:type="MSShapeGroup"></path>
								</g>
							</svg>
						</div>
					</div>
					<div class="lo-l-map" ng-controller="MapCtrl">
						<button class="lo-l-map-opnsearch" ng-click="toggleSearch()">Найти</button>
						<div class="lo-l-map-finduser" ng-click="findUser()">
							<svg width="14px" height="14px" viewBox="0 0 411 412" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
								<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
									<path d="M0,150.596 L410.17,0 L257.743,412 L207.65,202.521 L0,150.596 Z M0,150.596" id="navigation-icon" fill="#666666" sketch:type="MSShapeGroup"></path>
								</g>
							</svg>
						</div>
						<ya-map ya-zoom="12" ya-after-init="afterMapInit($target)" ya-behaviors="default scrollZoom multiTouch" ya-controls="zoomControl searchControl" ya-event-click="mapClick($event)">
	<!--						<ya-control ya-type="button" ya-params="Найти" ya-options="{float:'left'}"></ya-control>-->
							<ya-cluster ya-options="{preset:'islands#invertedRedClusterIcons'}">
								<ya-geo-object href="#/places/{{place.id}}" ng-repeat="place in places" ya-source="place" ya-event-click="choosePlace(place)" ya-options="{preset: 'islands#redIcon'}"></ya-geo-object>
	<!--							<ya-geo-object ya-source="meme" ya-options="{preset: 'islands#dotIcon',iconColor: '#735184'}"></ya-geo-object>-->
							</ya-cluster>
						</ya-map>
					</div>
	<!--				<a href="#/create_place" class="lo-l-addplace" ng-click="addPlaceAction()">Добавить место</a>-->
	<!--				<footer>kek</footer>-->
					<div class="lo-l-footer">
						<div class="lo-l-footer-item" ng-click="openPopup('.popup-about')">Что это?</div>
						<div class="lo-l-footer-item"><a ng-href="#/write_us">Написать нам</a></div>
					</div>
				</div>
				<ui-view></ui-view>
			</div>
		</div>
	</div>
	
	
<!--	<div class="what" ng-click="openPopup('.popup-about')">?</div>-->
<!--
	<div class="feedback">
		<a ng-href="#/write_us">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
				<path id="email-3-icon" d="M256.017,273.436L50.847,103.407h410.904L256.017,273.436z M255.983,328.898L50,158.244v250.349h412 V158.653L255.983,328.898z"/>
			</svg>
		</a>
	</div>
-->
	<%= yield %>


	<div class="sn">
		<div class="sn-item" ng-hide="current_user">
			<div class="sn-item-login" ng-click="showLogin()">Войти</div>
			<div class="sn-item-choose hidden">
				<div class="sn-item-choose-vk">
					<div class="sn-item-choose-icon">
						<svg width="100%" height="100%" viewBox="0 0 412 236" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<path d="M225.94423,235.528275 C236.39223,235.528275 240.68123,228.551275 240.54323,219.821275 C240.01023,186.909275 252.80323,169.202275 275.88823,192.290275 C301.44323,217.843275 306.72623,235.528275 337.73923,235.528275 L392.67623,235.528275 C435.89423,235.528275 397.38123,192.157275 366.93423,163.899275 C337.98623,137.029275 336.62723,136.395275 361.55523,104.052275 C392.50623,63.9122751 432.94823,12.1942751 397.16323,12.1942751 L328.81623,12.1942751 C315.55523,12.1942751 314.59923,19.9422751 309.88823,31.0642751 C292.81823,71.3432751 260.35023,123.535275 248.01523,115.565275 C235.11523,107.228275 241.02223,78.9532751 242.01123,29.9482751 C242.27223,17.0062751 242.20623,8.11527508 222.42523,3.52427508 C168.41623,-9.01072492 121.61523,15.6462751 140.73323,19.2062751 C167.69623,24.2342751 165.11023,77.9012751 158.82123,103.096275 C147.87023,146.966275 106.70723,68.3442751 89.5472301,29.2002751 C85.4192301,19.7812751 84.1572301,12.1942751 69.3822301,12.1942751 L13.5012301,12.1942751 C2.72823014,12.1942751 -2.55376986,17.1282751 1.20723014,27.1332751 C4.96823014,37.1382751 48.2062301,133.860275 99.3262301,189.042275 C146.63923,240.114275 193.40423,235.528275 225.94423,235.528275 C225.94423,235.528275 193.40423,235.528275 225.94423,235.528275 L225.94423,235.528275 L225.94423,235.528275 Z M225.94423,235.528275" id="vk-icon" fill="#fff" sketch:type="MSShapeGroup"></path>
							</g>
						</svg>
					</div>
					<a ng-href="users/auth/vkontakte"></a>
				</div>
				<div class="sn-item-choose-fb">
					<div class="sn-item-choose-icon">
						<svg width="100%" height="100%" viewBox="0 0 61 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<g id="social-media10" sketch:type="MSLayerGroup" fill="#000">
									<path d="M57.378,0.001 L3.352,0.001 C1.502,0.001 0,1.5 0,3.353 L0,57.379 C0,59.232 1.502,60.733 3.352,60.733 L32.438,60.733 L32.438,37.214 L24.524,37.214 L24.524,28.047 L32.438,28.047 L32.438,21.287 C32.438,13.444 37.227,9.171 44.225,9.171 C47.58,9.171 50.457,9.422 51.296,9.531 L51.296,17.729 L46.442,17.731 C42.637,17.731 41.903,19.54 41.903,22.193 L41.903,28.044 L50.981,28.044 L49.794,37.21 L41.902,37.21 L41.902,60.73 L57.377,60.73 C59.229,60.73 60.732,59.227 60.732,57.379 L60.732,3.351 C60.731,1.5 59.23,0.001 57.378,0.001 L57.378,0.001 L57.378,0.001 L57.378,0.001 Z M57.378,0.001" id="Shape" sketch:type="MSShapeGroup"></path>
								</g>
							</g>
						</svg>
					</div>
					<a ng-href="users/auth/facebook"></a>
				</div>
			</div>
		</div>
		<div class="sn-item" ng-show="current_user">
			<div class="sn-item-user">
				<div class="sn-item-user-img" style="background-image: url({{current_user.image_url}})"></div>
				<div class="sn-item-user-name">{{ getOnlyName(current_user.username) }}</div>
			</div>
<!--			<div class="lo-l-head-nav-user-logout" ng-click="logOut()">Выйти</div>-->
		</div>
		<hr>
		<div class="sn-item" ng-click="snClick('addplace')"><a href="#/create_place">Новое место</a></div>
		<div class="sn-item" ng-click="snClick('what')">Что это?</div>
		<div class="sn-item" ng-click="snClick('fb')"><a ng-href="#/write_us">Написать нам</a></div>
		<div class="sn-logout" ng-show="current_user" ng-click="logOut()">Выйти</div>
	</div>
</body>
</html>
